<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446742646174-7pi1igrm9rps5glnkb6qute9e9uvikmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446742646174-7pi1igrm9rps5glnkb6qute9e9uvikmj</string>
	<key>API_KEY</key>
	<string>AIzaSyCFpb-i_jkaGVPeVt4YnZcSX9fGX0m81O4</string>
	<key>GCM_SENDER_ID</key>
	<string>446742646174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastrucks2</string>
	<key>PROJECT_ID</key>
	<string>fastrucks1-230a1</string>
	<key>STORAGE_BUCKET</key>
	<string>fastrucks1-230a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446742646174:ios:6ef21bb52e0dafa1581a8f</string>
</dict>
</plist>